$tablet: 480px;
$desktop: 768px;

body {
    background-color: #ffffff;
    color: #888888;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .product-container {
        display: flex;
        flex-basis: 80%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: aqua;
        margin: auto;
        border: black;

        @media screen and (min-width: $tablet) {
            flex-basis: 40%;
        }
        @media screen and (min-width: $desktop) {
            flex-basis: 30%;
        }

        .image {
            max-width: 60%;
            height: auto;
        }

        .title {
        }
    }
}
